body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  .container {
    margin-left: 220px; /* chừa khoảng cho sidebar */
    padding: 20px;
    width: calc(100% - 220px);
  }
  .banner {
    width: auto;
    background: #1dae66;
    text-align: center;
    padding: 40px 20px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
  }
  table {
      width: 100%;
      border-collapse: collapse;
      background: white;
      box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    }
    th, td {
      border: 1px solid #ddd;
      padding: 10px;
    }
    th {
      background-color: #333;
      color: white;
    }
  tr:nth-child(even) {
    background: #f9f9f9;
  }
  tr.table-warning {
    background: #fffbe6;
  }
  