body {
  font-family: "Segoe UI", sans-serif;
  margin: 0;
  background: #fafafa;
  color: #333;
}
.hero {
  background: url("../pic/bnhlv.jpg") center/cover no-repeat;
}
.banner {
  color: #fff;
  padding: 80px 20px;
}
.banner h1 {
  color: white;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.search-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.recent-posts {
  list-style: none;
  padding: 0;
}
.recent-posts a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #000;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}
.post-card {
  margin-top: 10px;
  background-color: white;
  padding: 20px;
  height: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
  border-radius: 10px;
}
.post-card:hover {
  transform: scale(1.02); /* phóng to card*/
}
/* 1 */
