.banner {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  padding: 40px 0;
  color: #333;
  letter-spacing: 2px;
}
.banner h1 {
  margin: 0;
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
.hero {
  background: url("../pic/bnhlv.jpg") no-repeat center center;
  background-size: cover;
  background: linear-gradient(rgba(106, 97, 93, 0.5), rgba(106, 97, 93, 0.5)),
    url("../pic/bnhlv.jpg") center/cover no-repeat;
}
